@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="name">Paul Edrel B King</h1>
            <h2 class="course">Bachelor of Science<p class="ptag">in</p> Computer Science</h2>
            <h2 class="section">BSCS 32E1</h2>
        </div>
    </div>
</body>