@{
    ViewData["Title"] = "School";
}

<head>
    <link rel="stylesheet" href="~/css/Schedule.css" />
</head>

<h1>School Schedule</h1>

<table border="1">
    <tr>
        <th>SUBJECT</th>
        <th>SYNCHRONOUS (Day & Time)</th>
        <th>ASYNCHRONOUS (Day & Time)</th>
        <th>FACE TO FACE (Day & Time)</th>
        <th>TEACHER</th>

    </tr>
    <tr>
        <td>PANITIKAN</td>
        <td>TUESDAY (02:00 - 04:00PM)</td>
        <td>MONDAY (09:00 - 10:00AM)</td>
        <td></td>
        <td>PROF ZAIDE</td>
    </tr>
    <tr>

        <td>DATABASE MANAGEMENT SYSTEM</td>
        <td></td>
        <td>THURSDAY (07:00 - 09:00PM)</td>
        <td>SATURDAY (01:00 - 04:00PM)</td>
        <td>PROF D ELLANA</td>
    </tr>
    <tr>
        <td>SOFTWARE ENGINEERING 1</td>
        <td></td>
        <td>THURSDAY (01:00 - 04:00PM)</td>
        <td>SATURDAY (10:00 - 11:00AM)</td>
        <td>PROF BUSTAMANTE</td>

    </tr>
    <tr>

        <td>PROGRAMMING LANGUAGES</td>
        <td></td>
        <td>TUESDAY (07:00 - 09:00AM)</td>
        <td>MONDAY (10:00 - 11:00AM)</td>
        <td>PROF ESCUDERO</td>
    </tr>
    <tr>
        <td>SOCIAL ISSUES AND PROFESSIONAL PRACTICE 1</td>
        <td></td>
        <td>TUESDAY (09:00 - 11:00AM)</td>
        <td>MONDAY (11:00 - 12:00NN)</td>
        <td>PROF ESCUDERO</td>
    </tr>
    <tr>
        <td>CS ELECTIVE 2</td>
        <td></td>
        <td>THURSDAY (11:00 - 01:00PM)</td>
        <td>SATURDAY (04:00 - 07:00PM)</td>
        <td>PROF ALAMO</td>
    </tr>

</table>